@page
@{
    Layout = null;
}



<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Librando</title>
    <script src="~/lib/jquery/jquery-3.6.0.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/modal.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    @*<link rel="manifest" href="/manifest.json">*@
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body id="aprendizado">

    <nav class="navbar navbar-light justify-content-between">
        <a class="navbar-brand" href="\index">
            <img id="logo" src="img/logo.png" class="lazy" title="Librando Libras Jogo Educacao" alt="Librando Libras Jogo Educacao">
            <img id="logo-titulo" src="img/titulo.png" class="lazy" title="Librando Libras Jogo Educacao" alt="Librando Libras Jogo Educacao">

        </a>
        <div class="form-inline">

        </div>

    </nav>
    <div id="lousa">
        <img id="imagem" src="~/img/Aprendizado/A.png" class="lazy" title="perfil" alt="perfil">

    </div>
    <div id="alfabeto">
        <button onclick="aprendizado.Trocar_Imagem('A')" type="button" class="btn btn-primary">A</button>
        <button onclick="aprendizado.Trocar_Imagem('B')" type="button" class="btn btn-primary">B</button>
        <button onclick="aprendizado.Trocar_Imagem('C')" type="button" class="btn btn-primary">C</button>
        <button onclick="aprendizado.Trocar_Imagem('D')" type="button" class="btn btn-primary">D</button>
        <button onclick="aprendizado.Trocar_Imagem('E')" type="button" class="btn btn-primary">E</button>
        <button onclick="aprendizado.Trocar_Imagem('F')" type="button" class="btn btn-primary">F</button>
        <button onclick="aprendizado.Trocar_Imagem('G')" type="button" class="btn btn-primary">G</button>
        <button onclick="aprendizado.Trocar_Imagem('H')" type="button" class="btn btn-primary">H</button>
        <button onclick="aprendizado.Trocar_Imagem('I')" type="button" class="btn btn-primary">I</button>
        <button onclick="aprendizado.Trocar_Imagem('J')" type="button" class="btn btn-primary">J</button>
        <button onclick="aprendizado.Trocar_Imagem('K')" type="button" class="btn btn-primary">K</button>
        <button onclick="aprendizado.Trocar_Imagem('L')" type="button" class="btn btn-primary">L</button>
        <button onclick="aprendizado.Trocar_Imagem('M')" type="button" class="btn btn-primary">M</button>
        <button onclick="aprendizado.Trocar_Imagem('N')" type="button" class="btn btn-primary">N</button>
        <button onclick="aprendizado.Trocar_Imagem('O')" type="button" class="btn btn-primary">O</button>
        <button onclick="aprendizado.Trocar_Imagem('P')" type="button" class="btn btn-primary">P</button>
        <button onclick="aprendizado.Trocar_Imagem('Q')" type="button" class="btn btn-primary">Q</button>
        <button onclick="aprendizado.Trocar_Imagem('R')" type="button" class="btn btn-primary">R</button>
        <button onclick="aprendizado.Trocar_Imagem('S')" type="button" class="btn btn-primary">S</button>
        <button onclick="aprendizado.Trocar_Imagem('T')" type="button" class="btn btn-primary">T</button>
        <button onclick="aprendizado.Trocar_Imagem('U')" type="button" class="btn btn-primary">U</button>
        <button onclick="aprendizado.Trocar_Imagem('V')" type="button" class="btn btn-primary">V</button>
        <button onclick="aprendizado.Trocar_Imagem('W')" type="button" class="btn btn-primary">W</button>
        <button onclick="aprendizado.Trocar_Imagem('X')" type="button" class="btn btn-primary">X</button>
        <button onclick="aprendizado.Trocar_Imagem('Y')" type="button" class="btn btn-primary">Y</button>
        <button onclick="aprendizado.Trocar_Imagem('Z')" type="button" class="btn btn-primary">Z</button>

        <div>
            @*<button id="jogar" type="button" href="SalaEspera">Jogar</button>*@
            <a href="AcessoSala"> Jogar</a>
        </div>
        <div>
            <button type="button" onclick="$('#modalzinho').show()">Abrir o Modal</button>
        </div>

        <div class="modal_maneiro" id="modalzinho">
            <p class="message">Look at this fancy pop-up</p>
            <div class="options">
                <button class="botao" onclick="$('#modalzinho').hide()">Yes</button>
                <button class="botao" onclick="$('#modalzinho').hide()">No</button>
            </div>
        </div>

    </div>
 

    <footer>
        <div class="texto">
            <p>2021 © Librando. Todos os direitos reservados. </p>

        </div>
    </footer>
    <script src="./js/aprendizado.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>