@page
@model LibrandoApp.Pages.Jogo2Model
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">  
    <link href="~/css/style.css" rel="stylesheet" />
</head>

    <body>
        <img class="meteoro" src="~/img/cometa.jpg" onclick="this.style.top='1000px'">
        <img class="meteoro" src="~/img/cometa.jpg" onclick="this.style.top='1000px'">
        <img class="meteoro" src="~/img/cometa.jpg" onclick="this.style.top='1000px'">
        <img class="meteoro" src="~/img/cometa.jpg" onclick="this.style.top='1000px'">        
    </body>

</html>


